:root {
  --rgbaTransparent: rgba(0,0,0,0);

  --clrHeader: mediumaquamarine;

  --clrPrimary: lightblue;
  --clrSecondary: teal;

  --spcInner: var(--clrSecondary);
  --spcOuter: var(--clrPrimary);
  --spcGradient: var(--rgbaTransparent) 0%, var(--spcOuter) 25%, var(--spcInner) 50%, var(--spcOuter) 75%, var(--rgbaTransparent) 100%;

  --brdrOutline: solid thin black;

  --algnStart: flex-start;
  --algnEnd: flex-end;
  --algnCenter: center;

  --headerFont: rockwell;
  --headerSize: 22px;
  --headerDecoration: underline;
}
html, body {
  height: 100%; width: 100%;
}
html, body, span, input, select {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  margin: 0px;
  box-sizing: border-box;
  border-collapse: collapse;
  text-align: center;
  overflow: inherit;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
}
.rows { flex-direction: row; }
.cols { flex-direction: column; }
.unwrap { flex-wrap: nowrap; }
.fit > span { height: unset; width: unset; }
.fitH > span { height: unset; }
.fitW > span { width: unset; }
.vCen {
    justify-self: center;
    align-self: center;
}
.btnStd {
  background-color: var(--clrBtnPrimary);
  border: solid thick black;
  border-style: outset;
  border-color: var(--clrBtnSecondary);
  max-height: 75px;
  margin: 5%;
  padding: 10px 0px;
}
