/*#region root*/
:root {
--clrPrimary: lightblue;
--clrSecondary: teal;
--clrTertiary: mediumaquamarine;

--font1: rockwell;
--fontSizeLg: min(5vw, 5vh);
--fontSizeMd: min(4vw, 4vh);

--ruleInner: var(--clrSecondary);
--ruleOuter: var(--clrPrimary);
--ruleGradient: var(--clrTransparent) 0%, var(--ruleOuter) 25%, var(--ruleInner) 50%, var(--ruleOuter) 75%, var(--clrTransparent) 100%;
--ruleGradientSlim: var(--clrTransparent) 0%, #888 50%, var(--clrTransparent) 100%;
}
html, body { height: 100%; width: 100%; }
body {
  grid-template-rows: min(15vw, 15vh) 1fr;
}
html, body, span {
  display: inline-grid;
  box-sizing: border-box;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
span[type="text"], input[type="password"] {
    border: solid thin black;
    height: 2em;
    text-align: center;
}
.max {
  height: 100%;
  width: 100%;
}
/*#endregion*/

/*#region positioning*/
.flex { display: flex; }
.flex > .grow { flex-grow: 1; }
.rows { flex-direction: row; grid-auto-flow: row;}
.cols { flex-direction: column; grid-auto-flow: column; }
.centerContents {
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}
/*#endregion*/

/*#region positioning depth*/
.outset {
  box-shadow: black 0px 0px 5px 2px;
}
/*#endregion*/

/*#region fonts*/
.header{
  font-family: var(--font1);
  font-size: var(--fontSizeLg);
  text-decoration: underline;
  font-weight: bolder
}
.subheader{
  font-family: var(--font1);
  font-size: var(--fontSizeMd);
  text-decoration: underline;
  font-weight: bold
}
.iSubheader {
  font-family: var(--font1);
  font-size: var(--fontSizeMd);
  font-style: italic;
}
/*#endregion*/

/*#region buttons*/
.btnIcon {
  border-width: var(--btnborder);
  border-color: darkgray;
  border-style: outset;
  border-radius: 10px;
  flex-basis: var(--btnsize);
  height: var(--btnsize);
  width: var(--btnsize);
  padding: 5px;
}
[data-btnsize="80"] { --btnsize: 80px; --btnborder: 5px; }
[data-btnsize="55"] { --btnsize: 55px; --btnborder: 3px; }

.btnStd {
  background-color: var(--clrPrimary);
  border: solid thick black;
  border-style: outset;
  border-color: var(--clrSecondary);
  padding: 10px;
  border-radius: 10px;
}
.btnClearInput {
  color: darkgray;
  height: 40px;
  width: 40px;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-family: arial;
}
.btnCancel {
  color: red;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-family: arial;
}
/*#endregion*/

/*#region shyScroll*/
.shyScroll {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  justify-content: start;
}
.shyScroll::-webkit-scrollbar { /* WebKit */
   width: 0;
   height: 0;
}
/* .shyScroll > * { flex-shrink: 0; } */

.noShadow { box-shadow: 0px 0px; }
/*#endregion*/

/*#region justify and align shorthands*/
.algnC { justify-items: center; justify-content: center; }
.algnS { justify-items: start; justify-content: start; }
.algnE { justify-items: end; justify-content: end; }

.algnXC { align-items: center; align-content: center; }
.algnXS { align-items: start; align-content: start; }
.algnXE { align-items: end; align-content: end; }

.algnCC { justify-items: center; justify-content: center; align-items: center; align-content: center; }
.algnSS { justify-items: start; justify-content: start; align-items: start; align-content: start; }
.algnEE { justify-items: end; justify-content: end; align-items: end; align-content: end; }

.algnSC { justify-content: start; align-items: center; }
.algnCS { justify-content: center; align-items: start; }

.algnSpread { justify-content: space-between; }
/*#endregion*/

/*#region rule bars*/

.rule {
  flex-basis: 0px;
  overflow: visible;
}
.rule::after {
  background-color: gray;
  position: absolute;
  content: "";
}
.rule.horiz {
  height: 0px;
}
.rule.horiz::after {
  background: linear-gradient(90deg, var(--ruleGradient));
  width: 100%;
  height: 4px;
  bottom: -2px;
}
.rule.vert {
  width: 0px;
}
.rule.vert::after {
  background: linear-gradient(0deg, var(--ruleGradient));
  width: 4px;
  height: 100%;
  right: -2px;
}

.rule.slim {}
.rule.slim::after {
  background-color: gray;
}
.rule.slim.horiz {
  margin: 2px 0px;
}
.rule.slim.horiz::after {
  background: linear-gradient(90deg, var(--ruleGradient));
  height: 2px;
  bottom: -1px;
}
.rule.slim.vert {
  margin: 0px 2px;
}
.rule.slim.vert::after {
  background: linear-gradient(0deg, var(--ruleGradientSlim));
  width: 2px;
  right: -1px;
}
/*#endregion*/
