/*#region root*/
:root {
  --clrHeader: mediumaquamarine;

  --clrPrimary: lightblue;
  --clrSecondary: teal;

  --spcInner: var(--clrSecondary);
  --spcOuter: var(--clrPrimary);
  --spcGradient: rgba(0,0,0,0) 0%, var(--spcOuter) 25%, var(--spcInner) 50%, var(--spcOuter) 75%, rgba(0,0,0,0) 100%;
  --spcGradientSlim: rgba(0,0,0,0) 0%, #777 50%, rgba(0,0,0,0) 100%;

  --headerFont: rockwell;
  --headerSize: 64px;
  --headerDecoration: underline;
  --headerWeight: bolder;

  --subheaderFont: rockwell;
  --subheaderSize: 48px;
  --subheaderDecoration: underline;
  --subheaderWeight: bold;

  --spcInner: var(--clrSecondary);
  --spcOuter: var(--clrPrimary);
  --spcGradient: rgba(0,0,0,0) 0%, var(--spcOuter) 25%, var(--spcInner) 50%, var(--spcOuter) 75%, rgba(0,0,0,0) 100%;

  --icon_size: 1em;
}
/*#endregion*/

/*#region master class*/
body, span, input, textarea, select {
  display: inline-flex;
  flex-direction: inherit;
  flex-wrap: nowrap;
  position: relative;
  margin: 0;
  box-sizing: border-box;
  border-collapse: collapse;
  text-align: center;
  overflow: hidden;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  flex-basis: 100%;
  height: 100%;
  width: 100%;
}
/*#endregion*/

body {
  flex-direction: column;
}
span[contenteditable="true"] {
    padding: 10px 20px;
    border: solid thin black;
}

.rows { flex-direction: row; }
.cols { flex-direction: column; }
.wrap { flex-wrap: wrap; }
.rowBreak { height: 0px; flex-basis: 100%; }
.autoW { flex-basis: auto; width: auto; }
.autoH { flex-basis: auto; height: auto; }
.noShrink { flex-shrink: 0; }
.allowOverflow > * { flex-shrink: 0; }

.rounded { border-radius: 10px; }
.roundedWide { border-radius: 25px; }
.fauxrder { border: solid 5px white; }
.fauxrderWide { border: solid 15px white; }
.fauxrderHoriz { border: solid 15px 0px white; }
.spacer5px { flex-basis: 5px;}

/*#region justify and align shorthands*/
.absCen {
    justify-self: center;
    align-self: center;
    align-content: center;
}
.algnCX { justify-content: center; }
.algnSX { justify-content: start; }
.algnEX { justify-content: end; }

.algnXC { align-items: center; }
.algnXS { align-items: start; }
.algnXE { align-items: end; }

.algnCC { justify-content: center; align-items: center; }
.algnSS { justify-content: start; align-items: start; }
.algnEE { justify-content: end; align-items: end; }

.algnSC { justify-content: start; align-items: center; }
.algnCS { justify-content: center; align-items: start; }

.algnSpread { justify-content: space-between; }
/*#endregion*/

/*#region buttons*/
.btnIcon {
  border-width: var(--btnborder);
  border-color: darkgray;
  border-style: outset;
  border-radius: 10px;
  flex-basis: var(--btnsize);
  height: var(--btnsize);
  width: var(--btnsize);
  padding: 5px;
}
[data-btnsize="80"] { --btnsize: 80px; --btnborder: 5px; }
[data-btnsize="55"] { --btnsize: 55px; --btnborder: 3px; }

.btnStd {
  background-color: var(--clrPrimary);
  border: solid thick black;
  border-style: outset;
  border-color: var(--clrSecondary);
  max-height: 75px;
  margin: 5%;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
}
.btnClearInput {
  color: darkgray;
  height: 40px;
  width: 40px;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-family: arial;
}
.btnCancel {
  color: red;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-family: arial;
}
/*#endregion*/

/*#region shyScroll*/
.shyScroll {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
 }
.shyScroll::-webkit-scrollbar { /* WebKit */
   width: 0;
   height: 0;
}
/*#endregion*/

/*#region fonts*/
.leftCopy { text-align: left; justify-content: start}
.header{
  font-family: var(--headerFont);
  font-size: var(--headerSize);
  text-decoration: var(--headerDecoration);
  font-weight: var(--headerWeight)
}
.subheader{
  font-family: var(--subheaderFont);
  font-size: var(--subheaderSize);
  text-decoration: var(--subheaderDecoration);
  font-weight: var(--subheaderWeight)
}
.iSubheader {
  font-family: var(--subheaderFont);
  font-size: var(--subheaderSize);
  font-style: italic;
  font-weight: normal;
}
.byline {
  font-family: var(--subheaderFont);
  font-style: var(--italicDecoration);
}
.noUnderline { text-decoration: none !important; }
.bold { font-weight: bold; }
 /*#endregion*/

/*#region rule bars*/

.rule {
  flex-grow: 0;
  flex-basis: 0;
  overflow: visible;
}
.rule::after {
  background-color: gray;
  position: absolute;
  content: "";
}
.rule.horiz {
  height: 0;
  margin: 2px 0px;
}
.rule.horiz::after {
  background: linear-gradient(90deg, var(--spcGradient));
  width: 100%;
  height: 4px;
  bottom: -2px;
}
.rule.vert {
  width: 0;
  margin: 0px 2px;
}
.rule.vert::after {
  background: linear-gradient(0deg, var(--spcGradient));
  width: 4px;
  height: 100%;
  right: -2px;
}

.rule.slim {}
.rule.slim::after {
  background-color: gray;
}
.rule.slim.horiz {
  margin: 2px 0px;
}
.rule.slim.horiz::after {
  background: linear-gradient(90deg, var(--spcGradientSlim));
  height: 2px;
  bottom: -1px;
}
.rule.slim.vert {
  margin: 0px 2px;
}
.rule.slim.vert::after {
  background: linear-gradient(0deg, var(--spcGradientSlim));
  width: 2px;
  right: -1px;
}
/*#endregion*/

/*#region wingedHeader*/
.wingedHeader {
  flex-direction: row;
  flex-basis: var(--headerheight);
}
.wingedHeader > *:nth-child(1), .wingedHeader > *:nth-child(3)  {
  flex-basis: var(--headerwings);
  min-width: var(--headerwingmin);
  max-width: var(--headerwingmax);
}
.wingedHeader > *:nth-child(2) {
  flex-basis: 60%;
}
[data-headerheight="10%"] { --headerheight: 10%; }
[data-headerheight="20%"] { --headerheight: 20%; }
[data-headerheight="25%"] { --headerheight: 25%; }
[data-headerheight="40%"] { --headerheight: 40%; }
[data-headerheight="100px"] { --headerheight: 100px; }
[data-headerheight="120px"] { --headerheight: 120px; }
[data-headerheight="150px"] { --headerheight: 150px; }
[data-headerheight="200px"] { --headerheight: 200px; }
[data-headerheight="250px"] { --headerheight: 250px; }
[data-headerheight="400px"] { --headerheight: 400px; }

[data-headerwings="10%"] { --headerwings: 10%; }
[data-headerwings="20%"] { --headerwings: 20%; }
[data-headerwings="25%"] { --headerwings: 25%; }
[data-headerwings="40%"] { --headerwings: 40%; }
[data-headerwings="200px"] { --headerwings: 200px; }

[data-headerwingmin="200px"] { --headerwingmin: 200px; }
[data-headerwingmax="250px"] { --headerwingmax: 250px; }
[data-headerwingmax="300px"] { --headerwingmax: 300px; }

/*#endregion*/

/*#region Toast pulse*/
.debounceToastSlow {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}
.debounceToastFast {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.toastInProcess  { background-color: lightyellow !important; }
.toastSucceed { background-color: lightgreen !important; }
.toastFail { background-color: pink !important; }
/*#endregion*/
