/*#region circle*/
  .shpCircle {
    border-radius: 50%;
    border: solid 3px black;
    flex-basis: 50%;
  }
/*#endregion*/

/*#region arrow*/
  .shpArrow {
    border-color: var(--clrPrimary);
    border-size: 3px;
    transform: rotate(-45deg);
  }
  .shpArrLeft {
    border-top-style: solid;
    border-left-style: solid;
  }
  .shpArrRight {
    border-right-style: solid;
    border-bottom-style: solid;
  }
/*#endregion*/

/*#region star*/
.shpStar {

}
/*#endregion*/

/*#region gear*/
.shpGear {
  background: white;
}
/*#endregion*/

/*#region hamburger*/
.shpHamburger:before {
  background: black;
  top: -20px;
  height: 7px
}
.shpHamburger {
  background: black;
  height: 7px;
  width: 25%;
  position: absolute;
  top: 50%;
  overflow: visible;
}
.shpHamburger:after {
  background: black;
  top: 20px;
  height:7px
}
.shpHamburger:before, .shpHamburger:after {
  content: '';
  position: absolute;
  width: 100%;
}
/*#endregion*/

/*#region plus/minus*/
.shpPlus, .shpMinus {
}
.shpPlus:before, .shpPlus:after, .shpMinus:before, .shpMinus:after {
  content: '';
  position: absolute;
  border-radius: 5px;
  flex-basis: 100%;
}
.shpPlus:before, .shpMinus:before {
  width: 100%;
  height: 33.33%;
}
.shpPlus:before, .shpPlus:after {
  background-color: yellowgreen;
}
.shpPlus:after {
  height: 100%;
  width: 33.33%;
}
.shpMinus:before, .shpMinus:after {
  background-color: indianred;
}
/*#endregion*/

/*#region check*/
.shpCheck {

}
.shpCheck:before, .shpCheck:after {
  content: '';
  position: absolute;
  background-color: green;
  border-radius: 10px;
}
.shpCheck:before {
  transform: rotate(45deg);
  width: 45%;
  height: 20%;
  left: -0%;
  bottom: 25%;
}
.shpCheck:after {
  transform: rotate(-45deg);
  width: 100%;
  height: 20%;
  left: 10%;
  bottom: 45%;
}
/*#endregion*/

/*#region cancel*/
.shpCancel {

}
.shpCancel:before, .shpCancel:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 20%;
  background-color: red;
  border-radius: 10px;
}
.shpCancel:before {
  transform: rotate(-45deg);
}
.shpCancel:after {
  transform: rotate(45deg);
}
/*#endregion*/

/*#region pencil*/
.shpPencil {
  width: 75%;
  height: 20%;
  background-color: goldenrod;
  transform: rotate(-45deg);
  flex-grow: 0;
  overflow: visible;
  flex-basis: unset;
}
.shpPencil:before, .shpPencil:after {
  content: '';
  position: absolute;
  z-index: -1;
  box-sizing: border-box;
}
.shpPencil:before {
  background-color: pink;
  border: solid 1px pink;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 100%;
  width: 40%;
  right: calc(-6% - 8px);
  border-left: solid 8px silver;
}
.shpPencil:after {
  border-top: solid 1px darkgray;
  border-left: solid 1px darkgray;
  border-right: solid 2px beige;
  border-bottom: solid 2px beige;
  width: calc(10% + 2px);
  height: calc(40% + 2px);
  left: -10%;
  top: 20%;
  background-color: gray;
  transform: rotate(-45deg);
}
/*#endregion*/

/*#region spinner*/
.spinnerContainer {
  height: 150px;
  flex-basis: 150px;
}
.spinner {
  display: inline-block;
  width: 100px;
  height: 100px;
  flex-basis: 100px;
  border: 8px solid rgba(141,198,63,.8);
  border-radius: 50%;
  border-top-color: var(--clrPrimary);
  border-right-color: var(--clrSecondary);
  border-bottom-color: var(--clrPrimary);
  border-left-color: var(--clrSecondary);
  position: absolute;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
/*#endregion*/
