/*#region arrow*/
  .shpArrow {
    border-color: var(--clrPrimary);
    border-size: 3px;
    transform: rotate(-45deg);
  }
  .shpArrLeft {
    border-top-style: solid;
    border-left-style: solid;
  }
  .shpArrRight {
    border-right-style: solid;
    border-bottom-style: solid;
  }
/*#endregion*/

/*#region star*/

/*#endregion*/

/*#region gear*/
.shpGear {
  background: white;
}
/*#endregion*/

/*#region hamburger*/
.shpHamburger:before {
  background: black;
  top: -20px;
  height: 7px
}
.shpHamburger {
  background: black;
  height: 7px;
  width: 25%;
  position: absolute;
  top: 50%;
  overflow: visible;
}
.shpHamburger:after {
  background: black;
  top: 20px;
  height:7px
}
.shpHamburger:before, .shpHamburger:after {
  content: '';
  position: absolute;
  width: 100%;
}
/*#endregion*/

/*#region plus*/
.shpPlus {
  align-content: flex-end;
  min-height: 75px;
  margin: 5px;
}
.shpPlus:before, .shpPlus:after {
  background-color: darkgreen;
  content: '';
  position: absolute;
  z-index: -1;
}
.shpPlus:before {
  height: 50px;
  width: 12px;
  left: calc(50% - 6px);
  top: calc(50% - 35px);
}
.shpPlus:after {
  width: 50px;
  height: 12px;
  top: calc(50% - 16px);
  left: calc(50% - 25px);
}
/*#endregion*/

/*#region pencil*/
.shpPencil {
  width: 25px;
  height: 10px;
  background-color: goldenrod;
  transform: rotate(-45deg);
  flex-grow: 0;
  top: calc(50% - 12.5px);
  overflow: visible;
}
.shpPencil:before, .shpPencil:after {
  content: '';
  position: absolute;
  z-index: -1;
  box-sizing: border-box;
}
.shpPencil:before {
  border-left: solid 1px darkgray;
  border-bottom: solid 1px darkgray;
  width: 7px;
  height: 7px;
  left: -3px;
  top: 1.5px;
  background-color: gray;
  transform: rotate(45deg);
}
.shpPencil:after {
  background-color: pink;
  border: solid 1px pink;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 10px;
  width: 5px;
  right: -5px;
}
/*#endregion*/
