<style>
  #signupLoginBox > span > span {
    height: auto;
    padding: 25px;
    align-content: center;
  }
  #signupLoginBox > span > span > * {
    width:50%;
    min-width: 150px;
  }
  #signupLoginBox > span > span > span {
    padding: 2%;
    justify-content: flex-start;
  }
  #signupLoginBox > span > span > input {
    margin: auto;
  }
  /* #signup, #login {
    width: 50%;
  } */
</style>
<script type="text/javascript">
  cDI.addAwaitableInput("click", $("#btnSignup"), async (res) => {
    var email = $('#txtSgnEmail').val()
    var un = $('#txtSgnUN').val()
    var dn = $('#txtSgnDisplayName').val()
    var pw = $('#txtSgnPW').val()
    var confPw = $('#txtSgnConfPW').val()
    if (pw != confPw) {
      console.log("passwords do not match!")
    }
    var data = await cDI.remote.remoteCall("/signup", {
      "email": email,
      "username": un,
      "displayname": dn,
      "password": pw,
      "confPW": confPw
    })
    cDI.closeModal()
  })

  //add login function to button
  cDI.addAwaitableInput("click", $("#btnLogin"), async (res) => {
    var un = $('#txtLoginUN').val()
    var pw = $('#txtLoginPW').val()
    var callRes = await cDI.remote.remoteCall("/login", {"username": un, "password": pw })
    console.log("callRes", callRes)
    await cDI.remote.h(callRes,
      async (token) => {
        cDI.persist("cookbook.username", un)
        cDI.persist("cookbook.token", token)
        cDI.session.username = un
        cDI.session.token = token
        cDI.widgets.modal.raiseCurtain()
        await strapAuthButton()
        return callRes
      },
      async (callRes) => { console.log("login failed"); return false; }
    )
  })
  cDI.log(() => { console.log("Auth component loaded") })
</script>
<span id="signupLoginBox" class="fit rows unwrap">
  <span id="signup" class="cols">
    <span>
      <span class="absCen">Username:</span>
      <input id="txtSgnUN" type="text" placeholder="username" value="">
    </span>
    <span>
      <span class="absCen">Password:</span>
      <input id="txtSgnPW" type="password" placeholder="password" value="">
    </span>
    <span>
      <span class="absCen">Confirm password:</span>
      <input id="txtSgnConfPW" type="password" placeholder="confirm password" value="">
    </span>
    <span class="spacer horiz"></span>
    <span id="btnSignup" class="btnStd">Signup</span>
  </span>
  <span class="spacer vert"></span>
  <span id="login" class="cols">
    <span>
      <span class="absCen">Username/Email:</span>
      <input id="txtLoginUN" type="text" placeholder="username/email" value="">
    </span>
    <span>
      <span class="absCen">Password:</span>
      <input id="txtLoginPW" type="password" placeholder="password" value="">
    </span>
    <span class="spacer horiz"></span>
    <span id="btnLogin" class="btnStd">Login</span>
  </span>
</span>
