<span id="signupLoginBox" class="fit rows unwrap">
  <span id="signup" class="cols">
    <span>
      <span class="absCen">Username:</span>
      <input id="txtSgnUN" type="text" placeholder="username" value="">
    </span>
    <span>
      <span class="absCen">Password:</span>
      <input id="txtSgnPW" type="password" placeholder="password" value="">
    </span>
    <span>
      <span class="absCen">Confirm password:</span>
      <input id="txtSgnConfPW" type="password" placeholder="confirm password" value="">
    </span>
    <span class="spacer horiz"></span>
    <span id="btnSignup" class="btnStd">Signup</span>
  </span>
  <span class="spacer vert"></span>
  <span id="login" class="cols">
    <span>
      <span class="absCen">Username/Email:</span>
      <input id="txtLoginUN" type="text" placeholder="username/email" value="">
    </span>
    <span>
      <span class="absCen">Password:</span>
      <input id="txtLoginPW" type="password" placeholder="password" value="">
    </span>
    <span class="spacer horiz"></span>
    <span id="btnLogin" class="btnStd">Login</span>
  </span>
</span>
