#signupLoginBox > span > span {
  height: auto;
  padding: 25px;
  align-content: center;
}
#signupLoginBox > span > span > * {
  width:50%;
  min-width: 150px;
}
#signupLoginBox > span > span > span {
  padding: 2%;
  justify-content: flex-start;
}
#signupLoginBox > span > span > input {
  margin: auto;
}
/* #signup, #login {
  width: 50%;
} */
