<span id="signupLoginBox" class="rows autoH pad10">
  <span id="signup" class="cols pad10 algnSC">
    <span class="algnSS pad10">
      <span class="autoH algnSS">Username:</span>
      <span contenteditable="true" id="txtSgnUN" class="autoH algnSC" value=""></span>
      <span class="autoH algnSS">Password:</span>
      <input id="txtSgnPW" class="autoH algnSC" type="password" placeholder="password" value="" />
      <span class="autoH algnSS">Confirm password:</span>
      <input id="txtSgnConfPW" class="autoH algnSC" type="password" placeholder="confirm password" value="" />
    </span>
    <span id="btnSignup" class="autoH mgn10 btnStd">Signup</span>
  </span>
  <span class="rule vert"></span>

  <span id="login" class="cols pad10 algnEC">
    <span class="algnSS pad10">
      <span class="autoH algnSS">Username/Email:</span>
      <span contenteditable="true" id="txtLoginUN" class="autoH algnSC" type="text" placeholder="username/email" value=""></span>
      <span class="autoH algnSS">Password:</span>
      <input id="txtLoginPW" class="autoH algnSC" type="password" placeholder="password" value="" />
    </span>
    <span id="btnLogin" class="autoH mgn10 btnStd">Login</span>
  </span>
</span>
