<style>
  .stdModal {
    height: 80%;
    width: 80%;
    background-color: white;
    position:absolute;
  }
  #modalCurtain {
    background-color: rgba(128, 128, 128, .75);
    position: absolute;
    z-index: 9999;
  }
</style>
<script type="text/javascript">
  cDI.closeModal = async () => {
    await $("#modalCurtain").remove()
  }
  cDI.popModalDialog = async (dialogPath) => {
      await cDI.closeModal()
      $("html").prepend(`<span id="modalCurtain"></span>`)
      var html = await $.get(dialogPath).promise()
      $("#modalCurtain").append(`<span class="stdModal">${html}</span>`)

      $("#modalCurtain > *").click((event) => {
        var event;
        try { event = arguments[0] }
        catch { event = window.event }
        if (event){
          event.stopPropagation();
        }
      })
      $("#modalCurtain").click(() => { cDI.closeModal() })
      return $("#modalCurtain > *")
  }
  cDI.log(() => { console.log("Modal component added to cargo hold") })
</script>
<span id="modals"></span>
