<script>
  $('<link rel="stylesheet" type="text/css" href="components/projectWidgets/recipeCard/recipeCard.css" />').appendTo('head')
  async function loadWidgetRecipeCard() {
    var js = await cDI.asyncGetScript("components/projectWidgets/recipeCard/recipeCard.js")
  }
</script>
<span class="recipeCard cols unwrap">
  <span class="wingedHeader" data-headerheight="20">
    <span class="recipeServings"></span>
    <span class="recipeName absCen subheader"></span>
    <span class="recipeTime"></span>
  </span>
  <span class="recipeBody rows unwrap fitEven">
    <span class="cardLeft cols algnSX fit shyScroll">

    </span>
    <span class="spacer vert"></span>
    <span class="cardRight cols algnSX fit pad2Vert shyScroll test unwrap">

    </span>
  </span>
</span>
