.recipeCard {
  padding: 0px 5%;
  height: auto;
  border-radius: 25px;
  border: solid thin black;
}
.recipeBody {
  /* height:auto; */
}
.cardIngs, .cardSteps {
    flex-basis: auto;
    justify-content: space-around;
}
.rowNumber {
  width: auto;
}
.cardIngredient {
  flex-basis: auto;
}
.cardStep {
  margin-bottom: 5px
}

.stepIngredient, .stepTool {
  padding: 0px 5px;
  margin: 0px 5px;
}
.stepIngredient {
  background-color: var(--clrPrimary);
}

.stepTool {
  background-color: var(--clrSecondary);
}

.txtIngQuantity { width: 60px; }
.txtIngUoM { width: calc(40% - 25px); overflow: visible; }
.txtIngSubstance { width: 60%; }

.txtStep {

}

.recipeEdit {
  height:100%;
}
