.recipeCard {
  padding: 10px 25px;
  border: solid thin black;
  margin: 5px 0px;
}

.cardIngs, .cardSteps {
  max-height: 600px;
}

.ingPaneTitle, .stepPaneTitle {
  margin-left: 10px;
}

.cardIngredient, .cardStep { padding: 5px 25px; }

.stepIngredientMap, .stepToolMap {
  padding: 0px 5px;
  margin: 0px 5px;
}
.stepIngredientMap { background-color: var(--clrPrimary); }
.stepToolMap { background-color: var(--clrSecondary); }

.txtIngQuantity, .txtIngUoM, .txtIngSubstance { flex-basis: auto; }
.txtIngUoM, .txtIngSubstance { min-width: 100px; }

.txtStep {
  margin-right: 10px;
}

.recipeEdit {
  height:100%;
}
