<span class="recipeCard autoH roundedWide">
  <span class="wingedHeader algnSpread" data-headerheight="150px" data-headerwings="20%">
    <span class="recipeStats">
      <span class="recipeTime"></span>
      <span class="recipeServings"></span>
      <span class="recipeCalories"></span>
    </span>
    <span class="recipeName subheader"></span>
    <span class="recipeEdit row"></span>
  </span>
  <span class="cardIngs cols autoH algnSX allowOverflow shyScroll"></span>
  <span class="spacer horiz"></span>
  <span class="cardSteps cols autoH algnSX allowOverflow shyScroll"></span>
</span>
