.recipeCard {
  padding: 0px 5%;
  height: 250px;
  border-radius: 25px;
  border: solid thin black;
}
.cardLeft, .cardRight {
    margin: 10px;
}
.cardStep {
  margin-bottom: 5px
}

.cardIngredient {
  margin-bottom: 5px
}

.stepIngredient, .stepTool {

}
.stepIngredient {
  background-color: var(--clrPrimary);
}

.stepTool {
  background-color: var(--clrSecondary);
}
