.modalCurtain {
  background-color: rgba(128, 128, 128, .75);
  position: absolute;
  z-index: 9999;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.modalCurtain > * {
  max-height: 80%;
  max-width: 80%;
  background-color: white;
  position:absolute;
}
.modalCurtain.max > * {
  height: 80%;
  width: 80%;
}
.loadingSpinner {
  display: inline-block;
  width: 100px !important;
  height: 100px !important;
  border: 8px solid rgba(141,198,63,.8);
  border-radius: 50%;
  border-top-color: var(--clrPrimary);
  border-right-color: var(--clrSecondary);
  border-bottom-color: var(--clrPrimary);
  border-left-color: var(--clrSecondary);
  position: absolute;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
