.modalCurtain {
  background-color: rgba(128, 128, 128, .75);
  position: absolute;
  z-index: 9999;
}
.modalCurtain > * {
  max-height: 80%;
  max-width: 80%;
  background-color: white;
  position:absolute;
}
.modalCurtain.max > * {
  height: 80%;
  width: 80%;
}
