<style>
  .modalCurtain {
    background-color: rgba(128, 128, 128, .75);
    position: absolute;
    z-index: 9999;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .modalCurtain > * {
    max-height: 80%;
    max-width: 80%;
    background-color: white;
    position:absolute;
  }
  .modalCurtain.max > * {
    height: 80%;
    width: 80%;
  }
  .loadingSpinner {
    display: inline-block;
    width: 100px !important;
    height: 100px !important;
    border: 8px solid rgba(141,198,63,.8);
    border-radius: 50%;
    border-top-color: var(--clrPrimary);
    border-right-color: var(--clrSecondary);
    border-bottom-color: var(--clrPrimary);
    border-left-color: var(--clrSecondary);
    position: absolute;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}
</style>
<script type="text/javascript">
  cDI.widgets.modal = {}
  cDI.widgets.modal.drawCurtain = async (params = {}) => {
    var target = params.target || $("html")
    var content = params.content || ""
    var maximizeDialog = params.maximizeDialog || false
    target.prepend(`<span class="modalCurtain">${content}</span>`)
    var curtain = target.find(".modalCurtain")

    if (maximizeDialog){
      cDI.widgets.modal.maximizeDialog(target)
    }
    curtain.on("click", (e) => {
        e.stopPropagation()
        cDI.widgets.modal.raiseCurtain()
    })
    curtain.find(" > *").on("click", (e) => {
        e.stopPropagation()
    })
    return curtain.find(" > *")
  }
  cDI.widgets.modal.raiseCurtain = async (target) => {
    if (target) { target = target.find(".modalCurtain") }
    else { target = $(".modalCurtain").last() }
    await target.remove()
  }
  cDI.widgets.modal.maximizeDialog = (target) => {
    target = target || $("html")
    var content = target.find(".modalCurtain").last()
    content.addClass("max")
  }
  cDI.widgets.modal.clickToModal = async (elem, dialogPath, fn, maximizeDialog = false) => {
    await cDI.addAwaitableInput("click", elem, async (e) => {
      var content = await cDI.remote.asyncGet(dialogPath)
      var modalElements = await cDI.widgets.modal.drawCurtain({ content: content, maximizeDialog: maximizeDialog })
      if (cDI.utils.isDef(fn)) { await fn(modalElements) }
      return modalElements
    })
  }
  cDI.log(() => { console.log("Modal component added to cargo hold") })
</script>
<span id="modals"></span>
