.modalCurtain {
  background-color: rgba(128, 128, 128, .75);
  position: absolute;
  z-index: 9;
  height: 100%;
  width: 100%;
  grid-auto-columns: minmax(auto, 90%);
  grid-auto-rows: minmax(auto, 90%);
}
.modalCurtain > * {
  max-height: 90%;
  max-width: 90%;
  background-color: white;
}
