.flexCarousel {
  overflow: hidden;
}

/*#region NAV*/
.crslPrevWrapper, .crslNextWrapper {
  position:absolute;
  height: 100px;
  width: 100px;
  z-index: 1;
  top: calc(50% - 50px);
  overflow: visible;
}
.crslPrevWrapper {
  left: 10px;
}
.crslNextWrapper {
  right: 10px;
}
@keyframes bounceLeft {
    0% { left: 25px; }
    100% { left: 0px; }
}
@keyframes bounceRight {
    0% { right: 25px; }
    100% { right: 0px; }
}
.crslPrevWrapper:hover >.crslPrev, .crslNextWrapper:hover > .crslNext {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.crslPrevWrapper:hover > .crslPrev { animation-name: bounceLeft; }
.crslNextWrapper:hover > .crslNext { animation-name: bounceRight; }

.crslPrev, .crslNext {
  height: 50px;
  width: 50px;
  top: 25px;
  position: absolute;
  border-top: solid 3px purple;
}
.crslPrev {
  border-left: solid 3px purple; transform: rotate(-45deg);
  box-shadow: -3px -3px 3px violet;
}
.crslNext {
  border-right: solid 3px purple; transform: rotate(45deg);
  box-shadow: 3px -3px 3px violet;
}
/*#endregion*/

.crslSlot {
  position: absolute;
  background-origin: content-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: calc(100% * var(--idx) - 100%);
  transition-duration: .75s;
  height: 100%;
  width: 100%;
  padding: 10px;
}
.crslAnchorHorse {
  display: none;
}
