<script>
  $('<link rel="stylesheet" type="text/css" href="components/genericWidgets/flexCarousel/flexCarousel.css" />').appendTo('head')
  async function loadFlexCarousel() {
    await cDI.remote.asyncGetScript("components/genericWidgets/flexCarousel/flexCarousel.js")
  }
</script>
<span class="flexCarousel unwrap">
  <span class="crslPrevWrapper">
    <span class="crslPrev" onclick="crslCycle(event, this, 'prev')"></span>
  </span>
  <span class="crslNextWrapper">
    <span class="crslNext" onclick="crslCycle(event, this, 'next')"></span>
  </span>
  <span class="crslSeatPanel"></span>
</span>
