.drawerPane {
  position: fixed;
  height: 100%;
  width: auto;
  z-index: 1;
  box-shadow: 15px 5px 15px grey;
  background-color: var(--clrPrimary);
  transition: 0.5s;
  left: -50%;
}
.drawerPane:not(.open){ left: -405px; }
.drawerPane.open { left: 0%; }
.drawerCurtain {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
}
