.drawerPane {
  position: absolute;
  height: 100%;
  width: auto;
  z-index: 9;
  box-shadow: 15px 5px 15px grey;
  background-color: var(--clrPrimary);
  transition: 0.5s;
}
.drawerPane:not(.open){ left: -100%; }
.drawerPane.open { left: 0; }
.drawerCurtain {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9;
}
.dpHeader {
  justify-content: end;
}
.mainMenuClose {
  aspect-ratio: 1;
}
