#vikingChess > .gameboard > span > span {
  padding: 5px;
}
#vikingChess .scoreboard {
  flex-basis: 100px;
}
#vikingChess .kingSpace {
  background-color: gold;
}
#vikingChess .cornerSpace {
  background-color: lightgreen;
}
#vikingChess .defenderSpace {
  background-color: lightgray;
}
#vikingChess .attackerSpace {
  background-color: lightpink;
}
#vikingChess .validMove {
  background-color: cornflowerblue;
}
#vikingChess .kPiece {
  background-color: yellow;
}
#vikingChess .wPiece {
  background-color: white;
}
#vikingChess .bPiece {
  background-color: black;
}
#vikingChess .capBox {
  flex-basis: 50px;
  height: 50px;
}
#vikingChess .winner {
  color: lightgreen;
}
