#vikingChess {
  grid-template-rows: min-content max-content max-content;
  grid-template-areas:
  "scoreboard"
  "gameboard"
  "rules";
}
#vikingChess > .gameboard {
  grid-area: gameboard;
  aspect-ratio: 1;
  margin: auto;
  height: min(90vw, 60vh);
  width: min(90vw, 60vh);
}
#vikingChess > .gameboard > .graphPaper > span { padding: 5px; }
#vikingChess .scoreboard {
  grid-area: scoreboard;
  grid-template-columns: 20% 1fr 1fr 20%;
}
#vikingChess #vikingChessP1, #vikingChess #vikingChessP2 {  }
#vikingChess .vcP1Name, #vikingChess .vcP2Name {
  overflow: hidden;
  align-self: start;
  justify-self: start;
  width: 100%;
}
#vikingChess .vcPlayerIndicator { height:6vw; aspect-ratio: 1; padding: 2px; }
#vikingChess .vcPlayerIndicator > span { aspect-ratio: 1; }
#vikingChess #vikingChessP1Captures, #vikingChess #vikingChessP2Captures {
  grid-template-columns: repeat(12, 1fr);
  align-content: space-around;
}
#vikingChess #vikingChessP2Captures {
  transform: rotate(180deg);
}
#vikingChess .capBox { aspect-ratio: 1; }

#vikingChess .kingSpace { background-color: gold; }
#vikingChess .cornerSpace { background-color: limegreen; }
#vikingChess .defenderSpace { background-color: palegoldenrod; }
#vikingChess .attackerSpace { background-color: firebrick; }
#vikingChess .validMove { background-color: cornflowerblue; }
#vikingChess .kPiece { background-color: yellow; }
#vikingChess .wPiece { background-color: white; }
#vikingChess .bPiece { background-color: black; }
#vikingChess .winner { color: dandelion; }

#vikingChess #rules {
  grid-area: rules;
}
