#vikingChess {
  grid-template-rows: 10% max-content max-content;
  grid-template-areas:
  "scoreboard"
  "gameboard"
  "rules";
}
#vikingChess > .gameboard {
  grid-area: gameboard;
  aspect-ratio: 1;
  margin: auto;
  height: min(90vw, 60vh);
  width: min(90vw, 60vh);
}
#vikingChess > .gameboard > span {
}
#vikingChess > .gameboard > span > span {
  padding: 5px;
}
#vikingChess .scoreboard {
  grid-area: scoreboard;
}
#vikingChess .capBox { height: 50px; }

#vikingChess .kingSpace { background-color: gold; }
#vikingChess .cornerSpace { background-color: limegreen; }
#vikingChess .defenderSpace { background-color: palegoldenrod; }
#vikingChess .attackerSpace { background-color: firebrick; }
#vikingChess .validMove { background-color: cornflowerblue; }
#vikingChess .kPiece { background-color: yellow; }
#vikingChess .wPiece { background-color: white; }
#vikingChess .bPiece { background-color: black; }
#vikingChess .winner { color: dandelion; }

#vikingChess #rules {
  grid-area: rules;
}
