#blogMain {

}
#blogPostList{
  width: 25%;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 50px;

}
#blogPostList > span {
  text-align: left;
  justify-content: flex-start;
  border-bottom: solid thin black;
  width: 90%;
}
#displayBlogPost {
  width: 80%;
}
#displayBlogPost > span {
  text-align: left;
  justify-content: flex-start;
}
#blogPostHeader > span {
  text-align: left;
  justify-content: flex-start;
}
.blogContent {
  font-size: 20px;
}
