#blogMain {
  grid-auto-columns: 1fr 3fr;
}
#blogPostList {
  margin: 5px;
  padding: 5px;
}
#displayBlogPost {
  grid-auto-rows: auto auto 1fr;
  padding: 10px;
  gap: 10px;
}
#blogPostHeader {
  grid-auto-rows: auto auto auto;
}
#blogContent {
  font-size: 20px;
}
.blogListTitle {
  margin-bottom: 5px;
}
