
<span id="modals">
  <script type="text/javascript">
    function popModalDialog(dialogPath) {
      $("html").prepend(`<span id="modalCurtain"></span>`)
      $("#modalCurtain").css("display", "inline-flex")
      $.get(dialogPath, (dialog) => { $("#modalCurtain").append(dialog) })
    }
    console.log($("#modalCurtain"))
  </script>
  <style>
    #modalCurtain{
      display: none;
      background-color: gray;
      position: absolute;
      z-index: 9999;
    }
  </style>
  <span id="modalCurtain"></span>
</span>
