#accountDash {
  grid-auto-rows: auto 1fr;
}
#accountDashHeader {
  grid-auto-flow: column;
  padding: 20px;
  justify-content: space-between;
  grid-template-columns: minmax(auto, 2fr) minmax(auto, 1fr);
}
#accountDashTitle {
  align-content: start;
  justify-content: start;
}
#accountDashBody {
  grid-auto-rows: minmax(10px, max-content)
}
.vcGameOverview {
  grid-auto-rows: 1fr 1fr;
}
.vcGameOverview > span {
  grid-template-columns: 50px 50px 50px 1fr 1fr 1fr;
}
.playerSide {
  aspect-ratio: 1;
  width: 40px;
  padding: 5px;
  margin: auto;
}
.grayUnderline {
  border-bottom: solid thin lightgray;
}
