#siteHeader {
  background-color: var(--clrPrimary);
  box-shadow: 0px 5px 5px var(--clrSecondary);
  z-index: 1;
}

#hamburgerBox, #authBox {
  max-width:100px;
}
/*#region hamburger*/
.iconHamburger:before {
  background: black;
  top: -20px;
  height: 7px
}
.iconHamburger {
  background: black;
  height: 7px;
  width: 25%;
  position: absolute;
  top: 50%;
  overflow: visible;
}
.iconHamburger:after {
  background: black;
  top: 20px;
  height:7px
}
.iconHamburger:before, .iconHamburger:after {
  content: '';
  position: absolute;
  width: 100%;
}
/*#endregion*/

/*#region auth*/
#authBox {
  overflow: visible;
}
.iconAuth:before, .iconAuth:after {
  position: absolute;
  background-color: var(--clrSecondary);
  content: '';
}
.iconAuth:before {
  height: 25%;
  width: 25%;
  border-radius: 50%;
  top: 25%;
  content: '';
}
.iconAuth:after {
  width: 50%;
  height: 25%;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  top: 45%;
  content: '';
  background-color: var(--clrSecondary);
}
/*#endregion*/

/*#region fonts*/
  .header{
    font-family: var(--headerFont);
    font-size: var(--headerSize);
    text-decoration: var(--headerDecoration);
    font-weight: var(--headerWeight)
  }
  .subheader{
    font-family: var(--subheaderFont);
    font-size: var(--subheaderSize);
    text-decoration: var(--subheaderDecoration);
    font-weight: var(--subheaderWeight)
  }
/*#endregion*/

.wingedHeader {
  flex-direction: row;
  width: 100%;
  height: calc(1% * var(--headerheight));
  flex-grow: 0;
}
.wingedHeader > *:nth-child(1), .wingedHeader > *:nth-child(3)  {
  flex-grow: 2;
}
.wingedHeader > *:nth-child(2) {
  flex-grow: 6;
}
[data-headerheight="10"] { --headerheight: 10; }
[data-headerheight="20"] { --headerheight: 20; }
