#siteHeader {
  background-color: var(--clrPrimary);
  box-shadow: 0px 5px 5px var(--clrSecondary);
  z-index: 1;
}

/*#region auth*/
#iconAuth:before, #iconAuth:after {
  position: absolute;
  background-color: var(--clrSecondary);
  content: '';
}
#iconAuth:before {
  height: 25%;
  width: 25%;
  border-radius: 50%;
  top: 25%;
  content: '';
}
#iconAuth:after {
  width: 50%;
  height: 25%;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  top: 45%;
  content: '';
  background-color: var(--clrSecondary);
}
/*#endregion*/
