#header {
  background-color: var(--clrPrimary);
  flex-grow: 1;
}

/* #hamburgerBox, #authBox {
  flex-grow: 2;
} */
/*#region hamburger*/
.iconHamburger:before {
  background: black;
  top: -20px;
  height: 7px
}
.iconHamburger {
  background: black;
  height: 7px;
  width: 25%;
  position: absolute;
  top: 50%;
  overflow: visible;
}
.iconHamburger:after {
  background: black;
  top: 20px;
  height:7px
}
.iconHamburger:before, .iconHamburger:after {
  content: '';
  position: absolute;
  width: 100%;
}
/*#endregion*/
/*#region auth*/
#authBox {
  overflow: visible;
}
.iconAuth:before, .iconAuth:after {
  position: absolute;
  background-color: var(--clrSecondary);
  content: '';
}
.iconAuth:before {
  height: 25%;
  width: 25%;
  border-radius: 50%;
  top: 25%;
  content: '';
}
.iconAuth:after {
  width: 50%;
  height: 25%;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  top: 45%;
  content: '';
  background-color: var(--clrSecondary);
}
/*#endregion*/

/*#region title*/
  #title {
    /* flex-grow: 8; */
    width: unset;
    font-family: var(--headerFont);
    font-size:var(--headerSize);
    text-decoration:var(--headerDecoration);
  }
/*#endregion*/

.wingedHeader {

}
.wingedHeader:nth-child(1), .wingedHeader:nth-child(3)  {
  flex-grow: 2;
}
.wingedHeader:nth-child(2) {
  flex-grow: 8;
}
