<script>
  $('<link rel="stylesheet" type="text/css" href="components/globals/header/header.css" />').appendTo('head')
  async function strapHeader() {
    await cDI.asyncGetScript("components/globals/header/header.js")
    return await strapAuthButton()
  }
</script>

<!-- <span id="header" class="rows unwrap"> -->
<span id="header" class="wingedHeader">
  <span id="hamburgerBox">
    <span class="iconHamburger"></span>
  </span>
  <span id="title" class="vCen">Cookbook</span>
  <span id="authBox">
    <span class="iconAuth"></span>
  </span>
</span>
