<link rel="stylesheet" type="text/css" href="/components/globals/header/header.css">
<script type="text/javascript" src="/components/globals/header/header.js"></script>
<span id="siteHeader" class="wingedHeader" >
  <span>
    <span class="hamburger"></span>
  </span>
  <span>Cookbook</span>
  <span>
    <span id="iconAuth" class="stdIcon">
      <span id="iconAuthHeadBox">
        <span id="iconAuthHead" class="iconAuthPiece"></span>
      </span>
      <span id="iconAuthTorsoBox">
        <span id="iconAuthTorso" class="iconAuthPiece"></span>
      </span>
    </span>
  </span>
</span>
