#gamesMain {
  grid-auto-rows: auto 1fr;
}
#gamePane {
  grid-template-rows: 1fr;
}
#selectGame {
  grid-auto-columns: 150px;
  justify-content: space-evenly;
}
#selectGame.back {
  grid-auto-columns: unset;
  justify-content: start;
}
